@use "../../shared/styles/base";
@use "../../shared/styles/components";

.event {
  @include base.flexCenter();
  margin-bottom: 1em;
  *:not(:nth-last-child(1)) {
    margin-right: 0.25em;
  }
  input {
    padding: 0.25em;
    border-radius: 2px;
  }
  img {
    cursor: pointer;
  }
}

.delete {
  @include base.flexCenter();
  img {
    @include base.setSize(0.75em);
  }
}
