@mixin resetList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@mixin resetInput {
  outline: none;
  border: none;
  background-color: transparent;
  &::-webkit-calendar-picker-indicator {
    display: none;
  }
}

.eventsList {
  @include resetList();
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.dailyEventsContainer {
  width: 22.5em;
  height: 25em;
  margin-right: 1.5em;
  border: 1px solid #f0f0f0;
}

.eventsDate {
  margin: 0;
  width: 100%;
  font-weight: bold;
  text-align: center;
  line-height: 2.5em;
  background-color: #e5e5e5;
}

.dailyEvents {
  @include resetList();
  height: 20em;
  padding: 1.25em 0.5em;
  overflow-y: hidden;
  &:hover {
    overflow-y: auto;
  }
}

.event {
  display: flex;
  margin-bottom: 1em;
  align-items: center;
  flex-direction: row;
  *:not(:nth-last-child(1)) {
    margin-right: 0.25em;
  }
  input {
    @include resetInput();
    padding: 0.25em;
    border: 1.5px solid transparent;
  }
  &:hover input {
    background-color: #f7f8f9;
    border: 1.5px solid #e6e6e6;
    border-radius: 2px;
  }
  span,
  input[type="date"] {
    flex: 4;
  }
  input[type="time"] {
    flex: 2;
  }
  img {
    flex: 1;
  }
}
