@use "./variables";

@mixin resetList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@mixin resetInput {
  outline: none;
  &::-webkit-calendar-picker-indicator {
    display: none;
  }
  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px variables.$inputBackground inset !important;
  }
}

@mixin setSize($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin flexCenter($direction: row) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: $direction;
}
