@use "sass:selector";

@mixin setSize($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin flexCenter($direction: row) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: $direction;
}

@mixin hoverActive($color1, $color2) {
  &:hover {
    background-color: $color1;
  }
  &:active {
    background-color: $color2;
  }
}
