@use "./variables";

@mixin resetList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@mixin resetButton {
  border: none;
  outline: none;
  cursor: pointer;
}

@mixin resetInput {
  outline: none;
  &::-webkit-calendar-picker-indicator {
    display: none;
  }
  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px variables.$inputBackground inset !important;
  }
}
